/* css normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

b, strong, optgroup {
  font-weight: 700;
}

pre, textarea {
  overflow: auto;
}

button::-moz-focus-inner, input::-moz-focus-inner, legend {
  border: 0;
  padding: 0;
}

/* clearfix */
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* border box */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*==================================================*/
.lightblue {
  color: #a3e8e7;
}

.medblue {
  color: #3ae0e5;
}

.darkblue {
  color: #3aadb4;
}

.green {
  color: #76da3a;
}

.darkgreen {
  color: #acc539;
}

.yellow {
  color: #fef035;
}

.darkyellow {
  color: #fedc38;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
}

body {
  color: black;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
}

img {
  max-width: 100%;
}

.wrapper {
  width: 100%;
  margin: 0;
  background: white url("images/home-mainbg.jpg") no-repeat right top;
  background-size: 80%;
}

.content {
  width: 100%;
  margin: 0;
}

.header {
  width: 100%;
  margin: 0;
  padding: 0;
}

.heather_logo img {
  width: 315px;
  margin-top: 100px;
  margin-left: 20px;
}

.nav ul {
  width: 25%;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 44px;
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  margin-left: -40px;
}

.nav li a {
  padding-left: 40px;
  text-decoration: none;
  color: black;
  margin-left: 45px;
}

.nav li:hover a {
  background: url("images/icon-nav-active.png") no-repeat left;
}

.triangle {
  width: 375px;
  float: right;
  position: absolute;
  display: block;
  top: 305px;
  right: 0;
  opacity: 0.8;
  transition: all 0.15s linear;
}

.triangle:hover {
  top: 345px;
  opacity: 1;
}

.short_bio {
  width: 436px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 1.35rem;
  padding: 0;
  margin: 0 45px;
}

.short_bio p {
  width: 436px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 1rem;
  padding: 0;
  line-height: 1.75rem;
}

.short_bio a {
  color: #3aadb4;
  text-decoration: none;
}

.short_bio a:hover {
  text-decoration: underline;
}

.learnmore_button {
  width: 250px;
  margin-left: 45px;
  margin-bottom: 85px;
}

#parallelogram {
  background: url("images/bg-links.png") no-repeat right;
  width: 205px;
  height: 36px;
  color: #fedc38;
  font-size: 0.95rem;
  padding-left: 10px;
  padding-top: 8px;
  transition: all 0.25s;
}

#parallelogram a {
  color: #fedc38;
  text-decoration: none;
  transition: all 0.25s;
}

#parallelogram:hover {
  width: 220px;
}

#parallelogram:hover a {
  width: 205px;
  padding-left: 15px;
  color: #acc539;
}

.heading {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.stats {
  width: 1000px;
  background: red;
}

.stats li {
  width: 50%;
  float: left;
}

.life_chart {
  width: 100%;
  background: white url("images/bg-stripe.png") repeat;
  margin: 0 auto;
  padding-bottom: 50px;
}

.life_pie img {
  width: 325px;
  float: left;
  margin-top: -50px;
  margin-left: 15px;
}

.life_chart_column {
  width: 60%;
  margin: 0;
  float: left;
  padding: 0;
}

.life_chart_column li {
  float: left;
  padding: 0;
  width: 50%;
  list-style-type: none;
}

.life_chart_column li span {
  font-size: 1.75rem;
  float: left;
  padding: 0;
}

.life_chart_column p {
  font-size: 1rem;
  padding: 10px;
  margin: 0;
  float: left;
  width: 500px;
}

.percent {
  color: black;
  margin-left: 10px;
  font-size: 3rem;
}

.footer {
  width: 100%;
  margin: 0;
  background: #cccccc url("images/bg-footer.png") repeat center;
  clear: both;
  position: relative;
}

.footer_map {
  width: 100%;
  height: 380px;
  margin: 0;
  background: url("images/footer-map.png") no-repeat right top;
}

.footer_content {
  width: 100%;
  margin: 0;
  padding-top: 20px;
  padding-left: 45px;
}

.footer_twitter {
  width: 40%;
  margin: 0;
  float: left;
}

.footer_twitter a {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: white;
  margin: 0px;
  display: block;
  padding: 3px;
  text-decoration: none;
}

a.twitter {
  background: url("images/icon-footer-twitter-40x45.png") no-repeat 0 0;
  width: 40px;
  height: 45px;
  display: block;
  text-indent: -9999px;
  float: left;
  margin-right: 20px;
}

a.twitter:hover {
  background-position: 0 -45px;
}

.footer_email {
  width: 40%;
  margin-top: 15px;
  float: left;
  clear: both;
}

.footer_email a {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: white;
  margin: 0;
  display: block;
  padding: 3px;
  text-decoration: none;
}

a.email {
  background: url("images/icon-footer-email-40x45.png") no-repeat 0 0;
  width: 40px;
  height: 45px;
  display: block;
  text-indent: -9999px;
  float: left;
  clear: both;
  margin-right: 20px;
}

a.email:hover {
  background-position: 0 -45px;
}

.credit {
  width: 30%;
  margin: 0;
  padding-top: 20px;
  clear: both;
}

.credit p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 0.75rem;
  color: white;
  margin: 0;
  padding-top: 3px;
  letter-spacing: 0.25px;
}

.bubble {
  width: 400px;
  height: 105px;
  background: url("images/footer-ribbon-full.png") no-repeat center;
  padding: 10px;
  margin: 0;
  color: white;
  position: absolute;
  top: -30px;
  right: 20px;
}

.bubble img {
  border-radius: 50%;
  float: left;
  margin-left: 10px;
  margin-top: 2.5px;
}

.bubble p {
  width: 250px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 0.80rem;
  float: left;
  line-height: 20px;
  margin-top: 5px;
  margin-left: 20px;
}

.bubble a {
  color: #fedc38;
  text-decoration: none;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .life_chart {
    width: 100%;
    background: white url("images/bg-stripe.png") repeat;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .life_pie img {
    width: 275px;
    float: left;
    margin-top: -50px;
    margin-left: 25px;
  }

  .life_chart_column {
    width: 55%;
    margin: 0;
    float: left;
    padding: 0;
  }

  .life_chart_column li {
    float: left;
    padding: 0;
    width: 50%;
    list-style-type: none;
  }

  .life_chart_column li span {
    font-size: 1.5rem;
    float: left;
    padding: 0;
  }

  .life_chart_column p {
    font-size: 0.85rem;
    padding: 10px;
    margin: 0;
    float: left;
    width: 300px;
  }

  .percent {
    color: black;
    margin-left: 10px;
    font-size: 1.3rem;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .wrapper {
    background-size: 75%;
  }

  .triangle {
    width: 245px;
    top: 205px;
  }

  .life_pie img {
    width: 325px;
    margin-left: 40px;
  }

  .life_chart_column {
    width: 45%;
  }

  .life_chart_column li {
    width: 65%;
  }

  .life_chart_column p {
    width: 300px;
    font-size: 0.85rem;
  }

  .footer_content {
    width: 100%;
    margin: 0;
    padding-top: 100px;
    padding-left: 45px;
  }
}
@media (max-width: 663px) {
  .life_pie img {
    width: 325px;
    margin-right: 100px;
    float: right;
  }

  .life_chart_column {
    width: 80%;
  }

  .life_chart_column p {
    width: 500px;
    font-size: 1rem;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .life_pie img {
    margin-right: 80px;
  }

  .footer_twitter {
    width: 100%;
  }

  .footer_email {
    width: 100%;
  }

  .credit {
    width: 50%;
  }

  .triangle {
    display: none;
  }

  .heather_logo img {
    width: 270px;
  }
}
